

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'calibri';
}


body{
    width: 100%;
    min-height: 900px;
    background: url(img/emblem.jpg);
}

.boton-menu{
    color: chartreuse;
}

.titulo{
    animation-name: desplazar;
    animation-duration: 8s;

    color: chartreuse;
    transition: all 200ms;
}




@keyframes desplazar{
    0%{
        margin-left: -2500px;
        opacity: 0;
    }
    25%{
        margin-left: 220px;
        opacity: 0.2;
    }
    50%{
        margin-left: -200px;
        opacity: 0.5;
    }
    75%{
        margin-left: 100px;
        opacity: 0.7;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}




/*
.cabecera{
    width: 100%;
    background: darkseagreen;
    height: 150px;
}

.cabecera h1{
    width: 600px;
    padding-top: 20px;
    margin-left: 400px;
    text-align: center;
    font-size: 36px;   
    text-shadow: 2px 2px 2px  darkgreen;
    color:  rgb(6, 39, 6);
}*/
.cabecera{
    width: 100%;
}

.row{
    border: 1px solid black;
}


.barra1 {
    text-shadow: 6px 12px 10px black;
    
}

.arriba, .fondo{
    opacity:0.8;
}

.abajo{
    opacity: 0.9;
}


.navbar-dark .navbar-nav .nav-link {
    font-size: 25px;
    color: #17a2b8;
    text-decoration: none;
    transition: all 200ms;
}
    

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(32, 170, 32);
    transform: scale(1.2, 1.2);
    text-shadow: 4px 8px 12px black;
}

.menu_activo {
    color: chartreuse !important;
    transform: scale(1.2, 1.2) !important;
    text-shadow: 4px 8px 12px black !important;
}





/*central*/


.central{
    min-height: 1000px;
    /*background: url(img/cesped.jpg);*/
}

.centralregistro{
    min-height: 500px;
}


/*textarea*/
.area{
    max-height: 250px;
    min-height: 303px;
}

/*formulario*/
.etiqueta {

    font-size: 18px;
}


/* slider*/


#slider{
    width: 100%;
    max-height: 450px;
    overflow: hidden;
}

#slider img{
    max-height: 450px;
    
}

.carousel-inner > .carousel-item > img {
    margin: auto;
}

/*pagination

.paginas{
    margin-top: 80px;
    margin-bottom: -50px;
    height: 20px;
   
}*/

hr {
    border: 0 none #000000;
    border-top: 2px solid #17a2b8;
    height: 3px;
    margin: 5px 5px;
    display: block;
    clear: both;
    }

.twitter{
    max-height: 850px;
    overflow: auto;
}

#mensajeEnviado {
    display: none;
}

#abono{
    display: none;
}




#imagen{
    width: 187px;
    height: 275px;
}

/*responsive//////////////////////////////////////////////////////////////////*/


@media (min-width: 200px) { 
    
    
    .barra1{
        font-size: 40px ;
        text-align: center;
        margin-top: 10px;
    }

    .derechos{
        font-size: 12px;
        text-align: center;
    }

    .paginas{
        text-align: center;
    }

    

    .barra ul li a{
        font-size: 18px;
    }

    .navbar-dark .navbar-nav .nav-link{
        font-size: 28px; 
        
    }

    .navbar-dark .navbar-nav .nav-link:hover{
        color: rgb(32, 170, 32);
        transform: none;
    }

   

    #slider img{
        max-height: 200px;
        
    }

    .tablas{
        margin-top: 20px;
    }

    .text-videos{
        font-size: 13px;
    }

    /* textos pagina principal*/
    h4{
        font-size: 15px;
    }

    .social{
        font-size: 18px;
    }

    h6{
        font-size: 12px;
    }

    /*textos formulario*/
    .titulo-form{
        font-size: 20px;
    }

    .subtitulo-form{
        font-size: 12px;
    }

    .borrar-text{
        font-size: 13px;
    }

    .correcto-text{
        font-size: 20px;
    }

    /*textos avisos*/
    .aviso-title{
        font-size: 25px;
    }

    .aviso-text{
        font-size: 18px;
    }
    
 }


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    .barra1{
        font-size: 40px ;
        text-align: center;
        margin-top: 10px;
    }

    .derechos{
        font-size: 20px;
        text-align: center;
    }

    .paginas{
      
        text-align: center;
    }


    .navbar-dark .navbar-nav .nav-link{
        font-size: 20px;
        transform: none;
    }

    .barra1{
        font-size: 28px ;
    }

    #slider img{
        max-height: 300px;
        
    }


    .text-videos{
        font-size: 16px;
    }


    h4{
        font-size: 15px;
    }

    .social{
        font-size: 20px;
    }

    h6{
        font-size: 15px;
    }

    /*textos formulario*/
    .titulo-form{
        font-size: 25px;
    }

    .subtitulo-form{
        font-size: 15px;
    }

    .borrar-text{
        font-size: 16px;
    }

    .correcto-text{
        font-size: 22px;
    }

    /*textos avisos*/
    .aviso-title{
        font-size: 30px;
    }

    .aviso-text{
        font-size: 22px;
    }

    
 }

 
     
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
   
    .barra1{
        font-size: 40px ;
        text-align: center;
        margin-top: 10px;
    }

    .derechos{
        font-size: 20px;
        text-align: center;
    }

    .paginas{
        text-align: center;
    }


    

    .navbar-dark .navbar-nav .nav-link{
        font-size: 20px;
        text-align: left;
    }

    .barra1{
        font-size: 2.0rem;
    }

    #slider img{
        max-height: 400px;
        
    }

    .text-videos{
        font-size: 20px;
    }

    h4{
        font-size: 20px;
    }

    .social{
        font-size: 23px;
    }

    h6{
        font-size: 18px;
    }

   
    /*textos formulario*/
    .titulo-form{
        font-size: 33px;
    }

    .subtitulo-form{
        font-size: 19px;
    }

    .borrar-text{
        font-size: 18px;
    }

    .correcto-text{
        font-size: 24px;
    }

       /*textos avisos*/
       .aviso-title{
        font-size: 50px;
    }

    .aviso-text{
        font-size: 24px;
    }

    
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;

    
 }

 .navbar-dark .navbar-nav{
    margin-left: -40px;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 25px;

}

.barra1{
    font-size: 2.5rem;
}

#slider img{
    max-height: 450px;
    
}


.barra1{
    font-size: 40px ;
    text-align: center;
    margin-top: 10px;
}

.derechos{
    font-size: 22px;
    text-align: center;
}

.paginas{
    padding-top: 10px;
    padding-left: 190px;
}


}








/*


    


@media (max-width: 1320px){

    .barra{
        font-size: 15px;
    }

    .titulo{
        font-size:32px;
    }

    .barra > ul > li > a:hover{
        
        transform: scale(1.8, 1.8);
    }

    #slider{
        
        height: 300px;
        overflow: hidden;
    
    }
  

    } */


