
  <!--inicio footer-->

  <div class="row">
    <div class="col-12 bg-dark d-xl-flex container-fluid footer text-center abajo">
        
        <div class=" col-sm-12 col-xl-4 my-5 text-info barra1">
            <h3 class="footer">PEÑA FRANJIVERDE VEGA BAJA</h3>
        </div>



        <div class=" col-sm-12 col-xl-4 my-5 text-info ">
            <h5 class="float-lg-left footer2 mt-2">Todos los derechos reservados &copy; Aitor Darío Serna Gamayo</h5>
        </div>

        <!--INICIO paginacion-->
     <div class=" col-sm-12 col-xl-4  my-auto mx-auto ">
        <div class="paginas  float-lg-right justify-content-center">
            <nav  aria-label="pagination" >
                <ul class="pagination view overlay">
                    <li class="page-item"><a class="page-link bg-dark text-info" href="#">Arriba</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/">1</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/videos">2</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/nosotros">3</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/contacto">4</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/">Inicio</a></li>
                    
                </ul>
            </nav>
        </div>
    </div>

        <!--FIN paginacion-->

    </div>
</div>
<!--fin footer-->
    

</div>
<!--FIN CONTAINER-->



<script type="text/javascript" src="../../css/jquery/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="../../css/jquery/popper.min.js"></script>
<script type="text/javascript" src="../../css/bootstrap/js/bootstrap.min.js"></script>

<!--Pequeño script para el slider, no es necesario para que funcione pero podemos tunear muchas cosas-->
<script>
    $(document).ready(function(){
        
        $(".carousel").carousel({ /*para que funcione el slider con el intervalo que queremos*/
            interval: 3000
        });

        $('[data-toggle="tooltip"]').tooltip(); /*esto es para que funcionen los tooltips*/

        $('[data-toggle="popover"]').popover(); /*esto es para que funcionen los popovers*/

    });
</script>

<script type="text/javascript" src="../../js/mostrarDiv.js"></script>
</body>
</html>




    