
  <!--inicio footer-->

  <div class="row">

    <div class="col-12 bg-dark d-xl-flex container-fluid footer text-center abajo">
        
        <div class=" col-sm-12 col-xl-5 my-5 mx-auto text-info barra2">
            <hr>
            <h3>PEÑA FRANJIVERDE VEGA BAJA</h3>
            <hr>
        </div>



        <div class=" col-sm-12 col-xl-4 mb-5 mx-auto my-auto text-info text-center ">
           
            <hr class="info">
            <h5 class=" derechos mt-2 mx-auto my-auto">2020 &copy;Aitor Darío Serna Gamayo</h5>
            <h5 class=" derechos mt-2 mx-auto my-auto"><i class="fas fa-envelope mr-1"></i>aitor.serna80@gmail.com</h5>
            <hr class="info">
        </div>

        <!--INICIO paginacion-->
        <div class=" col-sm-12 col-xl-3 my-auto">
             <a class="btn btn-outline-info my-4 arriba-boton" href="#"><i class="fas fa-arrow-circle-up"></i>  Volver arriba</a>
        </div>

        <!--FIN paginacion-->

    </div>
</div>
<!--fin footer-->
    

</div>
<!--FIN CONTAINER-->



<script type="text/javascript" src="../../css/jquery/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="../../css/jquery/popper.min.js"></script>
<script type="text/javascript" src="../../css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/mostrarDiv.js"></script>

</body>
</html>




    