
  <!--inicio footer-->

  <div class="row">

    <div class="col-12 bg-dark d-xl-flex container-fluid footer text-center abajo">
        
        <div class=" col-sm-12 col-xl-4 my-5 mx-auto text-info barra1">
            <hr>
            <h3>PEÑA FRANJIVERDE VEGA BAJA</h3>
            <hr>
        </div>



        <div class=" col-sm-12 col-xl-4 mb-5 mx-auto my-auto text-info text-center ">
            <h5 class=" derechos mt-2  mx-auto my-auto"><b>Todos los derechos reservados &copy; Aitor Darío Serna Gamayo</b></h5>
        </div>

        <!--INICIO paginacion-->
     <div class=" col-sm-12 col-xl-4 mt-5">
        <div class="paginas ">

            <nav  aria-label="pagination my-auto mx-auto " >
                <ul class="pagination view overlay">
                    <li class="page-item"><a class="page-link bg-dark text-info" href="#">Arriba</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/">1</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/videos">2</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/nosotros">3</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/contacto">4</a></li>
                    <li class="page-item"><a class="page-link bg-dark text-info" href="/">Inicio</a></li>    
                </ul>
            </nav>
        </div>
    </div>

        <!--FIN paginacion-->

    </div>
</div>
<!--fin footer-->
    

</div>
<!--FIN CONTAINER-->



<script type="text/javascript" src="../../css/jquery/jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="../../css/jquery/popper.min.js"></script>
<script type="text/javascript" src="../../css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/mostrarDiv.js"></script>

</body>
</html>




    