
  <!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <link rel="stylesheet" href="../../css/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="../../css/styles.css">
      
      <title>Peña franjiverde Vega Baja</title>
  </head>
  <body>

  <!--INICIO CONTAINER-->          
  <div class="container mb-5">

    <!--barra de arriba-->
    <div class="row mt-4">

     <div class="col d-xl-flex bg-dark ">
             


             <div class="col-sm-12 col-xl-6 my-5 text-info">
                 <h1 class="text-center titulo">PEÑA FRANJIVERDE VEGA BAJA</h1>
             </div>
             
             <div class="botonera col-sm-12  col-xl-6 mt-xl-4 bg-dark barra text-sm-center ">
                 <ul >
                     <li><a href="/"> Inicio</a></li>
                     <li><a href="/videos"> Videos</a></li>
                     <li><a href="/nosotros"> Sobre nosotros</a></li>
                     <li><a href="/contacto"> Registro</a></li>
                 </ul>     
             </div>

     </div>

 </div>


  <!--Fin barra de arriba-->

