
  <!DOCTYPE html>
  <html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="../../css/styles.css">
      
      <title>Peña franjiverde Vega Baja</title>
  </head>
  <body>

  <!--INICIO CONTAINER-->          
  <div class="container mb-5">

    <!--barra de arriba-->
    <div class="row mt-4 bg-dark p-4 arriba ">
      
        <div class=" d-none d-md-block col-sm-12 col-xl-7 my-auto mx-auto text-align-center ">
            <hr >
            <h1 class="barra1 titulo">PEÑA FRANJIVERDE VEGA BAJA</h1>
            <hr >
        </div>
        
        <h1 class="titulo2 d-xs-block d-md-none text-center mb-3">PEÑA FRANJIVERDE VEGA BAJA</h1>
        
        <div class=" col-sm-12 col-xl-5 justify-content-xs-center text-info">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
                    <!-- Brand 
                    <a class="navbar-brand" href="#">Navbar</a>-->
                    
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    
                    <span class="boton-menu"><img src="https://img.icons8.com/doodle/30/000000/football2--v1.png"/>  Menu</span>

                    </button>
                
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse my-auto" id="collapsibleNavbar">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item pr-5">
                                <a class="nav-link" href="/">Inicio</a>
                            </li>
                            <li class="nav-item pr-5">
                                <a class="nav-link" href="/videos">Videos</a>
                            </li>
                            <li class="nav-item pr-5">
                                <a class="nav-link " href="/nosotros">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">Registro</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </div>
   

            <!-- <div class="col-sm-12 col-xl-6 my-5 text-info">
                 <h1 class="text-center titulo">PEÑA FRANJIVERDE VEGA BAJA</h1>
             </div>
             -->

             
             
            <!-- <div class="botonera col-sm-12  col-xl-6 mt-xl-4 bg-dark barra text-sm-center ">
                 <ul >
                     <li><a href="/"> Inicio</a></li>
                     <li><a href="/videos"> Videos</a></li>
                     <li><a href="/nosotros"> Sobre nosotros</a></li>
                     <li><a href="/contacto"> Registro</a></li>
                 </ul>     
             </div>
             -->
    

 </div>


  <!--Fin barra de arriba-->

