
    <%- include('partials/navigation.ejs'); -%>

       <!--INICIO row central-->
       <div class="row central border-0">
       
        <!--contenido del formulario-->
        <div class="col col-xs-12  col-lg-8  m-5 mx-auto  bg-dark fondo sombra-caja">
            
           
            <form class="form-horizontal text-white mt-5 content-center" id="formulario" method="post" action="/contacto" >
                
                <div class="form-group col-xs-12 col-sm-12 col-xl-12 mx-auto">
                    <h1 class="text-center mb-2 titulo-form">Formulario de registro en la peña</h1>
                   <!-- <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto">
                        <a href="/listado" class="btn btn-success btn-block mt-4">Ver listado actual de la peña</a>
                    </div>-->

                    <hr>
                    <h5 class="text-center mb-5 subtitulo-form">Pasarás a formar parte de nuestra base de datos</h5>
                </div>

                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Introduce tu nombre" name="nombre" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" placeholder="Introduce tus apellidos" name="apellidos" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto">
                            <label for="poblacion">Poblacion:</label>
                            <input type="text" class="form-control" id="poblacion" placeholder="Introduce tu poblacion" name="poblacion" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Introduce tu email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto mb-4">
                            <label for="telefono">Telefono:</label>
                            <input type="text" class="form-control" id="telefono" placeholder="Introduce tu telefono (9 dígitos)" name="telefono" pattern="[0-9]{9}" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto mb-4">
                            <label for="dni">DNI:</label>
                            <input type="text" class="form-control" id="dni" placeholder="Introduce tu telefono DNI (8 digitos y 1 letra al final)" name="dni" pattern="[0-9]{9}" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto mb-4">
                            <label for="opcion">¿Eres abonado al Elche cf?</label>
                            <select class="form-control" id="opcion" name="abonado" required>
                                <option value="">Selecciona una opción</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto mb-4">
                            <input type="text" class="form-control" id="abono" placeholder="Introduce tu nº de abonado " name="abono">
                        </div>

                        <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto mb-4 text-center">
                            <div class="g-recaptcha my-auto text-center" data-sitekey="6Ldb878ZAAAAAGX6UDaIla4y03oooLhJTb7hTM3T" data-callback="enableBtn"></div>
                        </div>
                       

                <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto ">
                    <button type="submit" class="btn btn-info btn-block" id="enviar" disabled >Registrarme en la peña</button>
                </div>
                

                <div class="alert alert-success col-xs-12 col-sm-10 col-xl-8 mx-auto text-center " id="cargando">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                      </div>
                </div>
                <div class="alert alert-success col-xs-12 col-sm-10 col-xl-8 mx-auto text-center " id="mensajeEnviado">
                    <h3 class="correcto-text">datos guardados</h3>
                </div>
                <div class="alert alert-danger col-xs-12 col-sm-10 col-xl-8 mx-auto text-center " id="mensajeNoEnviado">
                    <h3 class="correcto-text">datos no guardados </h3>
                </div>
                   
            </form>

            <h5 class="text-center mt-4 borrar-text text-white">Si quieres borrarte de nuestra peña click en el boton rojo</h5>
            <div class="form-group col-xs-12 col-sm-10 col-xl-8 mx-auto">
                <button type="submit" class="btn btn-danger btn-block" id="borrar" onclick="location.href='/borrado';">Borrarme de la peña</button>
            </div>

            
        </div>
               
        </div>
        <!--Fin del formulario-->
     
    <!--FIN row central-->

    <%- include('partials/footer.ejs') -%>
 