
   
   
   <%- include('partials/navigation.ejs'); -%>

 <!--INICIO row central-->
 <div class="row border-0 ">

    <div class="col d-lg-flex flex-sm-column flex-lg-row central  ">


        <!--INICIO IZQUIERDA-->
                <div class="izquierda col col-xs-12 col-lg-8 mt-3 container-fluid  ">
            
                            <div class="bg-dark p-3 col col-xs-12 rounded text-white fondo sombra-caja">
                                <h4 class="text-center pt-1 pb-1 mx-auto my-auto ">Fundada en 2010, primera peña del Elche CF creada fuera del termino municipal de Elche </h4>
                            </div>
                    
                            <!--INICIO SLIDER-->

                            <div id="slider" class="carousel col col-xs-12 mt-4 mb-xl-4 mb-xs-3 slide border-primary " data-ride="carousel">
                            
                                <div class="carousel-inner">
                                    
                                        <div class="carousel-item active">
                                            <img src="/css/img/7453_10201308177857042_1753471730_n.jpg" class="d-block w-60 img-fluid border border-success rounded">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/945286_588025461228199_940813657_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/1126_544906548885181_358177906_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/934921_588025571228188_1378323812_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/260243_10201381488438326_2034930483_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/337704_466977229999690_1125361458_o.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/376259_455898684440878_1060697292_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/476166_4125610895100_1825559263_o.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/620967_455908737773206_1038903952_o.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/954852_10201308175176975_446131318_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/967156_4199944975273_1569826869_o.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/981071_592228727474539_188189125_o.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/1013464_544906522218517_1355131127_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/1013709_544906832218486_1024864405_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/922997_10200602954413989_1549795526_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/923104_10201381488478327_1687350821_n.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/Inma.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/CarlosIker.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/taha1.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/taha2.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/css/img/taha3.jpg" class="d-block w-60 img-fluid border  border border-success rounded" >
                                        </div>
                                </div>
                            </div>
                            <!--FIN SLIDER -->

                    <div class="col-12 d-block d-lg-flex mt-lg-3 tablas">
                            <!-- clasificacion-->
                            <div class="  col col-xs-12 col-xl-6 p-2 bg-dark mr-1 mb-3 text-white rounded text-align-center fondo ">
                                <h6 class="text-black m-y text-center pt-3 pb-2" >Clasificación Segunda División LaLiga SmartBank</h6>
                                <hr>
                                <script type="text/javascript">widthIcon = "12";heightIcon = "12";</script>
                                <script language="javascript" src="https://www.siguetuliga.com/widget/clasificacion2.php?id=25" charset="iso-8859-1"></script>
                            </div>
                            <!-- fin clasificacion-->
                            <!--inicio partidos-->
                            <div class=" col col-xs-12 col-xl-6 bg-dark  mb-3 text-white rounded p-2 fondo  text-align-center ">
                                <h6 class="text-black m-y text-center pt-3 pb-2" >Partidos Segunda División LaLiga SmartBank</h6>
                                <hr>
                                <script type="text/javascript"> widthIcon = "9";heightIcon = "9";</script>
                                <script language="javascript" src="https://www.siguetuliga.com/widget/resultados2.php?id=25" charset="iso-8859-1"></script>
                            </div>
                            <!--fin partidos-->
                    </div>   
                        


            </div>
            <!--fIN IZQUIERDA-->  
            
               

                

                <!--INICIO LADO DERECHO-->

                <div class=" col  col-xs-12 col-lg-4 ">
                            <!--Inicio jumbotron-->
                            <div class="jumbotron my-3 ml-xs-1 ml-lg-5 ml-xs-0 p-4 flex-fill onl_socialButtons bg-dark text-white fondo">
                                <h3 class="text-align-center m-y text-center pt-1 pb-1 social">METODOS DE CONTACTO</h3>
                                <hr>

                                <!--<button type="button" class="btn btn-facebook"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
                                <button type="button" class="btn btn-twitter"><i class="fab fa-twitter pr-1"></i> Twitter</button>
                                <button type="button" class="btn btn-google"><i class="fab fa-youtube pr-1"></i>YouTube</button>-->
                                
                                <a class="btn btn-block btn-social btn-success text-white fa-sm pl-5" href="mailto:franjiverdesvegabaja@hotmail.com">
                                    <i class="fa pl-1 fa-envelope pr-2"></i> franjiverdesvegabaja@hotmail.com
                                </a>

                                <a class="btn btn-block btn-social btn-twitter text-white fa-sm pl-5" href="https://twitter.com/pfvegabaja?lang=es" target="blank">
                                    <i class="fab pl-1 fa-twitter pr-2"></i> Siguenos en Twitter
                                </a>

                                <a class="btn btn-block btn-social btn-facebook text-white fa-sm pl-5" data-toggle="tooltip" data-placement="left" title="Próximamente!">
                                    <span class="fab pl-1 fa-facebook pr-1"></span> Siguenos en  Facebook
                                </a>

                                <a class="btn btn-block btn-social btn-google text-white fa-sm pl-5"  data-toggle="tooltip" data-placement="left" title="Próximamente!">
                                    <span class="fab pl-1 fa-youtube pr-1"></span> Siguenos en  YouTube
                                </a>
                                
                            </div>
                            <!--Fin jumbotron-->

                            <div class="jumbotron  my-3 ml-xs-1 ml-lg-5 ml-xs-0 p-4 flex-fill  bg-dark text-white fondo">
                                <h3 class=" m-y  text-center pt-1 pb-1 social">ULTIMOS TWEETS</h3>
                                <hr>
                                <div class="twitter">
                                <a class="twitter-timeline " data-tweet-limit="3" href="https://twitter.com/PFVegaBaja?ref_src=twsrc%5Etfw">Tweets by PFVegaBaja</a> 
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                </div>  
                                
                            </div>
               
                
                </div>
                 <!--FIN LADO DERECHO-->
    </div>
 
  

</div>
<!--FIN row central-->

    <%- include('partials/footer.ejs') -%>


