  
   <%- include('partials/navigation.ejs'); -%>

   <!--INICIO row central-->
   <div class="row central border-0">

       <div class="col-xs-12 col-xl-8 m-5 mx-auto  bg-dark fondo sombra-caja">

        

          

          
       </div>
   
   

   </div>
   <!--FIN row central-->


<%- include('partials/footer.ejs') -%>


