
    <%- include('partials/navigation.ejs'); -%>

     <!--INICIO row central-->
     <div class="row central border-0">

        
     
      

    </div>
    <!--FIN row central-->
    
    <%- include('partials/footer.ejs') -%>
    
