  
   <%- include('partials/navigation.ejs'); -%>

   <!--INICIO row central-->
   <div class="row central border-0">

       <div class="col col-xs-8 col-xl-8 m-5 mx-auto  bg-dark fondo">

        

           <div class="text-center mt-5">
           <img src="../css/img/sitio-en-construccion.jpg" alt=""class="img-responsive" >
           </div>

          
       </div>
   
   

   </div>
   <!--FIN row central-->


<%- include('partials/footer.ejs') -%>


