
    <%- include('partials/navigation.ejs'); -%>

    <!--INICIO row central-->
    <div class="row centralregistro border-0">

       
    <!--contenido del formulario-->
    <div class="col col-xs-12 col-md-10 col-xl-8  m-5 mx-auto border border-secondary bg-dark ">
        
        <div class=" alert alert-success mt-5">
           
              <h1 class="display-4 text-center">Registrado correctamente</h1>
              <hr>
              <p class="lead text-justify">Tus datos han pasado a formar parte de nuestra base de datos, si en cualquier momento quieres que los borremos, 
                  solamente nos tienes que enviar un email indicandonos en el asunto la palabra "baja" al correo 
                  <b><i>franjiverdesvegabaja@hotmail.com</i></b>, a partir de ese momento borraremos tus datos y te enviaremos un email confirmandolo. 
                  En nuestra página principal tienes un enlace con nuestro correo electrónico.</p>
               <p class="text-center">MUCHO ELCHE !!!</p>
        </div>
        <button class="btn btn-info btn-block my-5 text" onclick="location.href='/contacto';">Volver al formulario</button>
       
 
    </div>
    <!--Fin del formulario-->
 
    
     

   </div>
   <!--FIN row central-->
   
   <%- include('partials/footer.ejs') -%>