
   
   
   <%- include('partials/navigation.ejs'); -%>

        <!--INICIO row central-->
        <div class="row central border-0">

            <div class="col col-sm-8 col-xl-8 m-5 mx-auto  bg-dark fondo">

                <div class="bg-info p-1 mx-auto col-sm-8 m-5 rounded text-white">
                    <h3 class="text-center pt-2 pb-1 mt-1">Videos del Elche c.f </h3>
                </div>
                
                <hr class=" mx-auto">
                <h5 class="text-center pt-2 pb-1 mt-1 text-white text-videos">Martínez Valero - Mejor Estadio Liga BBVA - Temporada 13/14</h5>
                <hr class=" mx-auto">
                <div class="embed-responsive embed-responsive-16by9 col-8 mx-auto ">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E3XLpl8OABQ" allowfullscreen></iframe>
                </div>
                

                <hr class=" mt-5 mx-auto">
                <h5 class="text-center pt-2 pb-1  text-white text-videos">Partido Ascenso Primera División - Temporada 83-84</h5>
                <hr class=" mx-auto">
                <div class="embed-responsive embed-responsive-16by9 col-8 mx-auto">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ghwob5GbAN8" allowfullscreen></iframe>
                </div>

                <hr class="  mt-5 mx-auto">
                <h5 class="text-center pt-2 pb-1  text-white text-videos">Nino máximo goleador de la 2ª división</h5>
                <hr class="  mx-auto">
                <div class="embed-responsive embed-responsive-16by9 col-8 mx-auto mb-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E3mdYIiMWvE" allowfullscreen></iframe>
                </div>

                <hr class=" mt-5 mx-auto">
                <h5 class="text-center pt-2 pb-1 text-white text-videos">Elche - Atletico de Madrid - Temporada 2001/02</h5>
                <hr class=" mx-auto">
                <div class="embed-responsive embed-responsive-16by9 col-8 mx-auto mb-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZdSfZ9jm3wk" allowfullscreen></iframe>
                </div>

            </div>
        
        

        </div>
        <!--FIN row central-->


    <%- include('partials/footer.ejs') -%>

