
   
   
   <%- include('partials/navigation.ejs'); -%>

        <!--INICIO row central-->
        <div class="row central border-0">

            <div class="col col-sm-9 col-xl-9 m-5 mx-auto border border-secondary bg-dark">

                <div class="bg-info p-1 mx-auto col-sm-8 m-5 rounded text-white">
                    <h3 class="text-center pt-2 pb-1 mt-1">Videos del Elche c.f </h3>
                </div>
                
                <h5 class="text-center pt-2 pb-1 mt-1 text-info">Elche CF - Bilbao Athletic - Ascenso a Primera División - Temporada 1983-84</h5>
                <div class="embed-responsive embed-responsive-16by9 col-8 mx-auto">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ghwob5GbAN8" allowfullscreen></iframe>
                </div>

                <h5 class="text-center pt-2 pb-1 mt-5 text-info">Ascenso del ELCHE CF a 1ª (1987-88) II</h5>
                <div class="embed-responsive embed-responsive-16by9 col-8 mx-auto mb-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eSkJa03pqNY" allowfullscreen></iframe>
                </div>

            </div>
        
        

        </div>
        <!--FIN row central-->


    <%- include('partials/footer.ejs') -%>

